// config
@import "config/normalize";
@import "config/_variables";
@import "config/_mixins";

// base
//@import "layout/_fonts";
//@import "layout/_base";
@import "layout/_adjustment";

//pages
@import "pages/_main";
@import "pages/_about";






