  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    background-color: $header;
  }
  
  .header__logo {
    margin-right: auto;
  }
  
  .nav {
    margin-right: rem(15px);
  }
  
  .nav__list {
    margin: 0;
    padding: 0;
  }
  
  .nav__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    &:after {
      display: inline-block;
      vertical-align: middle;
      content: ' ';
      //@include circle(5px, #0ff);
      margin: 0 12px;
    }
    &:last-child:after {
      display: none;
    }
  }
  
  .nav__link {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
      text-decoration: underline;
    }
  }

  .quest__list{
    display: flex;
    //justify-content: center;
    //align-items: flex-end;
    border-width: 20px solid black;
  }

  .quest__item {
    background-position: center center; /* Положение фона */
    background-repeat: no-repeat;
    min-width: 355px;
    max-width: 355px;
    min-height: 220px;
    list-style-type: none;
    margin: 20px;
    
  }

  .quest__pic {
    border-radius: 5px;
   }