.btn__order{
	text-align: center;
	font-size:16px;
	font-weight: bold;
    color: #fff;
	background: #ff5722;
    border-color: #ff5722;
    text-decoration: none;
	/*width: 220px;*/
	/*height: 38px;*/
	border-radius: 5px;
    padding: 10px;
    margin: 10px;
    }
    
     /*
  .order-link {
    min-width: rem(98px);
    padding: 10px 17px;
    border-radius: 5px;
    background-color: $orange;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    transition: .5s;
    &:hover {
      background-color: darken($orange, 7%);
    }
  }*/
